@import "../../../index.scss";

nav {
  background-color: rgba($color: #000000, $alpha: 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 15px 60px;
    align-items: center;

    img {
      width: 100px;
    }

    .nav-menu,
    .show-mobile-menu {
      display: flex;
      gap: 25px;
      margin-bottom: 0px;

      .active {
        color: $third-red;
        font-weight: bolder;
      }

      a {
        text-decoration: none;
        color: $primary-white;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }

  .mobile-menu-btn {
    color: $primary-white;
    font-size: 2rem;
    display: none;
    position: absolute;
    top: 20px;
    right: 45px;
  }

  @media screen and (max-width: 1000px) {
    nav {
      position: relative;
    }

    .mobile-menu-btn {
      display: block;
    }

    .nav-menu,
    .show-mobile-menu {
      position: absolute;
      flex-direction: column;
      top: 74px;
      left: 0;
      right: 0;
      padding: 20px 0px;
      background-color: rgba($color: #000000, $alpha: 0.7);
      transition: 1s ease-in-out;
      opacity: 0;
      transform: translateY(-120%);
      z-index: 5;
    }

    .show-mobile-menu {
      opacity: 1;
      transform: translateY(0);
    }
  }
}