@import '../../../index.scss';

.header-section {
    margin-top: 80px;

    div {
        max-width: 550px;
    }


}

.slider-section,
.history-section {
    p>span {
        color: red;
        font-weight: 700;
    }

    .row {
        align-items: center;

        .col:nth-child(2) {
            display: flex;
            justify-content: center;
        }
    }
}

.history-section {

    p {
        text-align: left;
        margin-top: 20px;
    }
}

.slider-section,
.history-section {
    img {
        max-height: 350px;
    }
}

.slider-section {
    padding: 0px;
    margin-bottom: 80px;

    p:nth-child(1) {
        margin-top: 30px;
    }

    p {
        text-align: left;
    }
}

@media screen and (max-width: 725px) {

    .slider-section,
    .history-section {
        img {
            display: none;
        }
    }
}

@media screen and (max-width: 1000px) {

    .history-section {
        .row {
            .col:nth-child(2) {
                display: inline-block;
            }
        }
    }
}