.checkoutWrapper {
    margin-top: 100px;

    .confirmationWrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 50px;
        margin: 0 auto;
        width: 80%;

        @media screen and (max-width:900px) {
            flex-direction: column;
            align-items: center;
            gap: 50px;
            width: 90%;
        }

    }
}