:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.contact-section {
  background-color: #2a220d;
  width: 100vw;
  font-family: "Bitter Regular";
}
.contact-section h3 {
  font-size: 22px !important;
  color: #fff !important;
}
.contact-section h6 {
  font-size: 12px;
  color: #c8c7c5;
  margin-top: -60px;
  font-weight: 400;
}
.contact-section form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin: 40px 0 20px 0;
}
.contact-section input {
  background: #373014;
  border: none;
  height: 30px;
  padding: 20px;
  max-width: 300px;
  margin-left: calc(100vw - 1000px);
}
.contact-section textarea {
  background: #373014;
  border: none;
  resize: none;
  padding: 10px;
  grid-column: 2;
  grid-row: 1/span 3;
  max-width: 300px;
}
.contact-section input, .contact-section textarea {
  border-radius: 0;
  color: #ffffff;
}
.contact-section input::-moz-placeholder, .contact-section textarea::-moz-placeholder {
  color: #ffffff;
}
.contact-section input::placeholder, .contact-section textarea::placeholder {
  color: #ffffff;
}
.contact-section .submit-btn {
  background-color: #e90015;
  border: none;
  border-radius: 0;
  padding: 12px 30px;
  font-size: 0.8em;
  color: #ffffff;
  cursor: pointer;
}
.contact-section .submit-btn:hover {
  background-color: rgb(230, 85, 85);
  transition: 0.2s;
}
.contact-section .error-msg {
  color: #e90015;
  font-size: 10px;
}
.contact-section input:focus,
.contact-section textarea:focus {
  background-color: white;
  color: #000;
}
@media screen and (min-width: 1820px) {
  .contact-section form {
    justify-content: center;
  }
  .contact-section input {
    margin-left: 600px !important;
  }
  .contact-section .submit-btn {
    margin-right: 50px;
  }
}
@media screen and (max-width: 1820px) and (min-width: 1620px) {
  .contact-section input {
    margin-left: 500px;
  }
  .contact-section .submit-btn {
    margin-right: 50px;
  }
}
@media screen and (max-width: 1620px) and (min-width: 1480px) {
  .contact-section input {
    margin-left: 400px;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1360px) {
  .contact-section input {
    margin-left: 300px;
  }
  .contact-section .submit-btn {
    margin-right: 100px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  .contact-section input {
    margin-left: 200px;
  }
}
@media screen and (max-width: 1000px) {
  .contact-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-section input {
    margin: 0 auto;
    width: 400px;
  }
  .contact-section textarea {
    margin: 0 auto;
    width: 400px;
    height: 150px;
  }
  .contact-section .submit-btn {
    padding: 16px 36px;
  }
}/*# sourceMappingURL=ContactFormStyles.css.map */