@import "../../../../../../../index.scss";

.eight-people-table-wrapper {
  position: absolute;
  width: 160px;
  height: 220px;
  bottom: 16%;
  left: 8%;
  border-radius: 5px;
  transition: ease 0.5s;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 10px $primary-red;
  }

  .eight-people-table {
    width: 40px;
    height: 180px;
    margin: 19px auto;
    border-top: 3px solid $primary-black;
    border-bottom: 3px solid $primary-black;
    border-left: 1px solid $primary-black;
    border-right: 1px solid $primary-black;
    border-radius: 5px;
    pointer-events: none;

    .eight-people-table-number {
      font-size: 15px;
      transform: rotate(90deg);
      width: 50px;
      margin-top: 70px;
      height: 15px;
    }
  }
}
