@import "../../../../../../../index.scss";

.two-people-table-wrapper {
  width: 100px;
  height: 100px;
  position: absolute;
  transition: ease 0.5s;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 10px $primary-red;
  }

  .two-people-table {
    width: 40px;
    height: 60px;
    margin: 20px auto;
    border: 1px solid $primary-black;
    border-radius: 5px;
    pointer-events: none;
  }

  .two-people-table-number {
    font-size: 15px;
    transform: rotate(90deg);
    height: 40px;
    line-height: 17px;
    margin-top: 8px;
    margin-right: 5px;
  }
}
