.footer {
    background: url(../../../assets/images/background_footer.gif);
    padding-top: 25px;
    line-height: 30px;

    @media screen and (max-width: 768px) {
        padding-top: unset;
    }

    a {
        color: white;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;

        &:hover {
            border-bottom: solid 2px;
            text-decoration: unset;
        }
    }

    h5 {
        font-size: 20px;
    }

    .footer-copyright {
        background-color: rgba(24, 24, 24, 0.836);
        color: white;
    }

    .contentWrapper {
        color: white;
    }

    .footerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin-bottom: 20px;

        h5 {
            width: 80%;
        }

        p {
            margin: 0 auto;
            font-size: 17px;
            width: 80%;
        }

        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }

    .techs {
        text-align: left;

        @media screen and (max-width: 768px) {
            text-align: unset;
        }
    }

    .env {
        text-align: left;

        .envList {
            font-style: italic;
        }

        @media screen and (max-width: 768px) {
            text-align: unset;
        }
    }
}