// @import "./index.scss";
@import '../components/Headings/SingleHeadingGenerator.module.scss';

@import "../node_modules/bootstrap/scss/bootstrap.scss";
// @import url('~leaflet/dist/leaflet.css');

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

//------Temp styles-----//
h1 {
  font-size: 4rem;
  color: $primary-dark-grey;
  // margin: 100px auto;
}

body {
  background-color: #fff;
}

h2,
h3 {
  color: $primary-dark-grey;
}

button {
  background-color: $primary-red;
  // padding: 10px 20px;
  // margin: 20px 0px;
  color: $primary-white;
}